* {
    margin: 0;
    padding: 0;
}

#moblie_style label,#moblie {
    display: none;
}

.moblie-view {
    display: none;
}

html {
    font-family: "Roboto", sans-serif;
    height: 100%;
    font-size: 15px;
    

}

.body-container {
    width: 100%;
    height: 76%;
    display: flex;
}

.body-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.body-right {
    flex-basis: 40%;
    /* width: 39%; */
}

.body-top {

    /* height:30%;  */
    /* width: 100%; */
    flex-wrap: wrap;
    flex-basis: 28%;
}

.body-bottom {

    display: flex;
    /* height: 70%; */
    flex-basis: 69%; 
    flex-wrap: wrap;
    /* width: 70%; */
}

body {
    background-color: #f2f4f8;
    font-family: "Roboto", sans-serif;
    /* height: 100vh; */
    
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    background-color: white;
    min-height: 4rem;
    box-shadow: 0 1px 0 0 rgba(183, 194, 210, 0.5);
    padding: 0px 10px;

}

.first ul{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.first li{
    border-left:2px solid #f2f4f8;
    padding: 1.25rem 1.5rem;
    /* padding:23px 17px; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    gap: 4px;
    font-size: 14px;

}
.Action{
    border-right: 2px solid #f2f4f8;

}
nav a {
    text-decoration: none;
    color: black;
}



.UST-logo
{
        object-fit: cover;
        max-width: 100%; 
        max-height: 100%;
}
.profile {
   
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    width: 15rem;
    color: #006e74;
    font-stretch: normal;
    font-size: 15px;
}



.login {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.stat-container {
    display: flex;
    column-gap: 0.7rem;
    /* padding: 10px; */
    padding-top: 10px;
    /* grid-template-columns: 1fr 1fr 1fr ; */
    /* overflow:scroll; */
    /* white-space: nowrap; */
    width:120%;
    /* padding-bottom: 10px; */
}
.stat-scroll
{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin:0px 15px;
    margin-bottom: 10px;
   
}
.stat-scroll::-webkit-scrollbar{
    height: 0.2rem;
}
.stat-scroll::-webkit-scrollbar-track-piece {
    background: #f2f4f8;

}
.stat-scroll::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #888;

}
.stat-scroll::-webkit-scrollbar-button {

    width:2px;
}

.container-item {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(183, 194, 210, 0.3);
    justify-content: space-between;
    align-items: center;
    /* padding: 16px; */
    font-size: 0.875rem;
    width:19%;
    font-weight: bold;
    color: #666;
}

.container-item p {
    color: #666;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
}

.i {
    display: flex;

    object-fit: contain;
}

.i img {
    padding-left: 0.3rem;
    object-fit: contain;
}

.container-item p img {
    object-fit: contain;
}

.container-item img {
    padding-left: 3px;

}

.container-itemlast {
    background-color: white;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 1rem;
    width:19%;
    font-size: 0.9rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px; */
    box-shadow: 0 2px 5px 0 rgba(183, 194, 210, 0.3);
}

.container-itemlast p {
    color: #666;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
}

.container-last1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.number-detail {
    font-weight: bold;
    color: #2f3749;
    font-size: 30px;
    font-weight: 600;
}

.circle-1 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;

}

.circle-2 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;

}

.circle-3 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
}

.circle-4 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;

}

.cogs {
    color: #666;
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
}

.main-position {
    display: flex;
    color: #666;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    margin-top: 2.5px;
    justify-content: space-between;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}


.third-container {
    background-color: white;
    padding-bottom: 10px;
    /* margin:10px; */
    /* justify-content: space-evenly; */
    margin-left: 15px;
    /* width: 98%; */
    /* height: 50%; */
    flex-wrap: wrap;
    box-shadow: 0 2px 5px 0 rgba(183, 194, 210, 0.3);
}

.second-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.second-nav{
    border-bottom: 3px solid #f2f4f8;
}
.Inbound a:focus {
    border-bottom:0.2rem solid #0097AB;
    color: #0097AB;
    /* border-width:2px; */
}

.Inbound a {
    border-bottom: 0.2rem solid white;
}

.Inbound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    margin-top: 4px;
}

.second-nav li {
    padding: 9px;
    display: flex;
    justify-content: center;
    /* margin-left: 8px; */
    align-items: center;
    font-size: 0.875rem;
}

.arrow {
    object-fit: contain;
}

.view-right {
    display: flex;
    font-family: "Roboto", sans-serif;
    padding-right: 15px;
    font-size: 0.825rem;
    align-items: center;

}

.view-right a {
    color: #006e74;
    font-weight: bold;
}

.third-nav li {
    margin-bottom: 0px;
    /* align-items: center; */
    /* margin-right: 8px;
    margin-left: 8px; */
    /* display: flex; */
    flex-direction: row;

}

.third-nav a {
    font-family: "Roboto", sans-serif;
    padding: 10px 20px;
    background-color: #f2f4f8;
    font-size: 14px;
    gap:8px;
    color: #7c8089;
}

.third-nav ul {
    background-color: white;
    display: flex;
    color: #2F3749;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: flex-end;
}

.third-nav {
    margin-top: 15px;    

}

.num {
    font-weight: bold;
    background-color: #f2f4f8;
    padding-left: 5px;
}

.form {
    display: flex;
    margin-left: 10px;
    margin-top: 0px;
   
}

.search-box {
    width: 95%;
    background-color: #f8f9fb;
    border: none;

}
.search-box::placeholder
{
    color: #7c8089;
    opacity:0.6;
    font: 14px;
    font-weight: 500;
}
.search {
    background-color: #f8f9fb;
    border: none;
    padding: 5px;
}

.asider {
    margin: 0 12px;
    text-align: center;
    color: black;
    height: 37.4rem;
    background-color: #f8f9fb;
}

.asider h1 {
    padding-top: 40px;
}

.asider p {
    padding: 3.7rem;

}

.asider-header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    background-color: white;
}

.Risk {
    padding: 3px;
    font-weight: bolder;
}

.righ {
    margin: 0;
    padding-left: 33rem;
    width: fit-content;
    background-color: white;
}

.main-content {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 5px;
    box-shadow: 0 1px 0 0 rgba(183, 194, 210, 0.5);
}

.content {
    padding: 0.3rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.one {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
    /* padding: 10px 10px 20px 10px; */
}

.left-num {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.85;
    letter-spacing: normal;
    text-align: left;
    color: #2f3749;
}

.left p {
    font-size: 12px;
    margin: 1px;
    color: #7C8089;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.right img {
    object-fit: contain;
}

.left-content {
    display: flex;

}

.right-content {
    display: flex;
}

.top-arrow {
    /* margin-top: 9px; */
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    /* transform: rotate(-90deg); */
    margin-right: 8px;
}

.down-arrow {
    margin-top: 9px;
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.On-time {
    background-color: #f2f4f8;
    width: fit-content;
    font-weight: bold;
    color: lightblue;
    
    
}
.Resch
{
    background-color: #f2f4f8;
    width: fit-content;
    font-weight: bold;
}
.Resch
{
    font-size: 13px;
    background-color: rgba(83, 203, 93, 0.1);
    color: #53cb5d;
    padding: 5.5px;
}
.Delayed
{
    background-color: #f2f4f8;
    width: fit-content;
    font-weight: bold;
}
.Delayed p{
    font-size: 13px;
    color: #f62020;
    background-color: rgba(246, 32, 32, 0.1);
    padding: 5.5px;
}
.two {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    background-color: #f2f4f8;
    margin: 10px;
    
}

.orgin {
    font-size: 11px;
    color: #7C8089;

}

.sikkim {
    font-size: 1rem;
    background-color: #f2f4f8;
    font-weight: bold;
}

.scroll {
    height: 56%;
    width: 59%;
    margin-top:1px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    /* border-radius: 10px; */
    overflow-x: hidden;
    position: absolute;
}

.scroll-down {
    display: grid;
    width: 100%;
    
}

.item {
    background-color: red;
}

.third {
    display: flex;
    justify-content: space-between;
    /* padding: 35px; */
    padding:19px 25px 19px 25px;

    font-size: 16px; 
}

.mini-style {
    color: #7C8089;
    font-size: 12px;
}

.mini-style2 {
    font-size: 14px;
    color: #2f3749;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
}

.waiting {
    display: flex;
    color: red;
    font-size: 13px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.four {
    display: flex;
    /* margin-top: 35px; */
    /* align-items: center; */
    /* padding: 20px; */
    justify-content: space-around;
}
.two-sep
{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    background-color: #f2f4f8;
    margin-top: 25px;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.first a:hover {
    color: #006E74;

}

.first li {
    border-bottom: 1.6px solid white;
}

.first a:focus {
    border-bottom: 1.6px solid black;
}
.first a {
    border-bottom: 1.6px solid white;
}


a {
    text-decoration: none;
}

.OnTime p {
    font-size: 13px;
    background-color: #f2f4f8;
    color: blue;
    padding: 5.5px;

}

.third-nav a:hover {
    color: black;


}

.third-nav a:focus {
    background-color: #0097AB;
    outline: none;
    color: white;
}

::-webkit-scrollbar {
    width: 0.15rem;
}
::-webkit-stat-scroll {
    width: rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}






@media (max-width:800px) {

    nav {
        background-color: white;
        
    }

    #moblie_style label,
    #moblie {
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        padding-top: 20px;
        padding-right: 15px;
        
    }
    .moblie-view {
        display: none;
    }

    .moblie-view a {
        margin: 10px;
        flex-direction: column;
        display: flex;
        padding: 10px;
    }

    #moblie_style input:checked~.moblie-view {
        display: block;
        background-color: #006e74;
        

    }

    .profile {
        display: flex;
        flex-wrap: wrap;

    }
    .stat-scroll{
        display: flex;
        flex-direction: row;
    }
    #moblie_style {
        background-color: white;
        width: auto;
    }

    .moblie-view {
        background-color: white;
        box-shadow: 0 2px 5px 0 rgba(183, 194, 210, 0.3);
    }

    .moblie-view ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .moblie-view li {
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
    }

    #moblie {
        display: none;

    }

    body {
        background-color: #f2f4f8;
        font-family: "Roboto", sans-serif;
        /* width: 100%; */
        height: 100%;
    }

    header{
        font-size: 0.875rem;
        width:auto;
        background-color: white;
    }
    .moblie-view li
    {
        border-bottom: 2px solid black;
        align-items: center;
        border-radius: 10px;
        justify-content: center;

    }
    .first {
        display: none;

    }

    .first li:hover {
        background-color: #0097AB;
    }
    
    .stat-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width:120rem;
      
        /* width:auto; */
        /* flex-wrap: wrap; */
    }
    .stat-scroll{
        display: flex;
        /* padding: 5px 5px; */
        /* flex-direction: column; */
        /* width:50rem; */

    }
    .container-item {
        background-color: white;
        display: flex;
        flex-direction:row ;
        margin: 0;
        /* width:95%; */
        /* padding: 0px 50px; */
        padding: 16px;
        width:195rem;
        /* height: 80%; */

    }
    .container-itemlast {
        background-color: white;
        display: flex;
        /* flex-direction: row; */
        /* padding: 16px; */
        width: 195rem;
    }

    .third-container {
        background-color: white;
        padding-bottom: 15px;
        margin-left: 10px;
        width: 97%;
        /* margin-bottom: 10px; */
    }

    .Inbound li {
        flex-wrap: wrap;
        display: flex;
    }
    .third-nav ul
    {
        display: flex;
        flex-direction:row;

        
    }
    .third-nav li{
        padding:0px 0px;
        display: flex;
        /* flex-direction:column; */
        margin:5px;
    }
    .third-nav a {
        color: black;
    }

    .main-content {
        display: flex;
        flex-direction: column;

    }

    .content {
        /* width: 95%; */
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .asider {
        font-size: small;
        margin-top: 310px;
        /* position: relative; */
        color: black;
        margin-left: 1px;
        width:98.5%;
        background-color: #f8f9fb;
    }

    .asider h1 {
        padding-top: 20px;

    }

    .asider p {
        padding: 3rem;
        flex-wrap: wrap;
    }

    .asider-header {
        padding: 5px;
        background-color: white;
    }

    .Risk {
        padding: 3px;
        font-weight: bolder;
    }

    .body-container {
        width: auto;
        display: flex;
        flex-direction: column;

    }

    .body-left {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .body-right {
        display: flex;
        flex-direction: column;

        padding-top: 2rem;
        margin-left: 10px;

    }

    .scroll {
        width: 98%;
        margin-left: 6px;
        flex-wrap: wrap;
        overflow-y: scroll;
        height:22rem;
        /* position: absolute; */
    }

}