* {
    margin: 0;
    padding: 0;
}

.le,
.rig {
    display: none;
}

.third-nav .active li {
    background-color: #36c8ea;
    color: white;
}

.first .active {
    border-bottom: 2.5px solid #36c8ea;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    min-height: max-content;
}

.body-container {
    width: 100%;
    height: 76%;
    display: flex;

}

.body-left {
    width: 60%;
}

.body-right {
    flex-basis: 40%;
}

.body-top {
    height: 10.7rem;
    flex-basis: 60%;
    /* flex-wrap: wrap; */
}

.body-bottom {

    flex-basis: 70%;
    flex-wrap: wrap;
}

body {
    background-color: #f2f4f8;
    /* font-family: "Roboto", sans-serif; */
    min-height: max-content;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    background-color: white;
    min-height: 4.2rem;
    box-shadow: 0 1px 0 0 rgba(183, 194, 210, 0.5);
    padding: 0px 10px;
    /* flex-wrap: wrap; */
}



.first ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    display: flex;

}

.first {
    border-bottom: 2px solid #36c8ea;
}

.first li {
    border-left: 2px solid #f2f4f8;
    padding: 1.39rem 1.5rem;
    /* padding:23px 17px; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
    font-size: 14px;

}

.Action {
    border-right: 2px solid #f2f4f8;

}

nav a {
    text-decoration: none;
    color: black;
}



.UST-logo {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.profile {

    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    /* justify-items: center; */
    width: 12rem;
    color: #006e74;
    /* height:2rem; */
    flex-wrap: wrap;
    font-stretch: normal;
    font-size: 15px;
}



.login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 4.5rem;
}

.stat-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.stat-scroll {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 10px 15px 10px 15px;
}

.stat-scroll::-webkit-scrollbar {
    height: 0.2rem;
    display: none;
}

.stat-scroll::-webkit-scrollbar-track-piece {
    background: #f2f4f8;

}

.stat-scroll::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #888;

}

.stat-scroll::-webkit-scrollbar-button {

    width: 2px;
}

.container-item,
.container-item1 {
    background-color: white;
    padding: 1rem;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    flex-wrap: wrap;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(183, 194, 210, 0.3);
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    font-weight: bold;
    color: #666;
}

.container-item,
.container-item1 p {
    color: #666;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
}

.i {
    display: flex;
    object-fit: contain;
}

.i img {
    padding-left: 0.3rem;
    object-fit: contain;
}

.container-item p img {
    object-fit: contain;
}

.container-item img {
    padding-left: 3px;

}

.container-itemlast {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    /* width:19%; */
    width: 22rem;
    font-size: 0.9rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px; */
    box-shadow: 0 2px 5px 0 rgba(183, 194, 210, 0.3);
}

.container-itemlast p {
    color: #666;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
}

.container-last1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.number-detail {
    font-weight: bold;
    color: #2f3749;
    font-size: 30px;
    font-weight: 600;
}

.circle-1 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;

}

.circle-2 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;

}

.circle-3 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
}

.circle-4 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;

}

.alert-1 {
    display: flex;
    flex-direction: row;
    /* position: relative; */
    /* align-items: center; */
}

.circle-0 {
    width: 6px;
    height: 6px;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #ee2d2d;
}

.cogs {
    color: #666;
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-position {
    display: flex;
    color: #666;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    margin-top: 2.5px;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}


.third-container {
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-evenly;
    /* margin:0px 15px; */
    flex-wrap: wrap;
    /* height:10rem; */
    /* width:60.5rem; */
    margin-left: 15px;
    box-shadow: 0 2px 5px 0 rgba(183, 194, 210, 0.3);
}

.second-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.second-nav {
    border-bottom: 2.5px solid #f2f4f8;
}

.Inbound a:focus {
    border-bottom: 2.5px solid #0097AB;
    color: #0097AB;
    /* border-width:2px; */
}

.Inbound .active {
    border-bottom: 2.8px solid #36c8ea;
    color: #36c8ea;
}

.Inbound a {
    border-bottom: 2.8px solid white;
}

.mobile-view-right {
    display: none;
    color: #0097AB;
}

.Inbound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;

    /* margin-top: 4px; */
}

.Inbound a {
    margin-right: 10px;
}

.second-nav li {

    padding: 11px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
}

.arrow {
    object-fit: contain;
}

.view-right {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 0.825rem;
    align-items: center;
    justify-content: center;
    padding-right: 14px;

}

.view-right a {
    color: #006e74;
    font-weight: bold;
}

.third-nav li {

    display: flex;
    padding: 12px 16px;
}

.third-nav a {
    font-family: "Roboto", sans-serif;
    background-color: #f2f4f8;
    font-size: 14px;
    flex-wrap: wrap;
    color: #7c8089;
}

.third-num {
    font-weight: bold;
    color: #2f3749;
}

.red {
    color: red;
    font-weight: bold;
}

.third-nav ul {
    background-color: white;
    display: flex;
    color: #2F3749;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    margin-left: 10px;
}



.third-nav-dup {
    display: none;
}

.num {
    font-weight: bold;
    background-color: #f2f4f8;
    padding-left: 5px;
}

.form {
    display: flex;
    margin-left: 10px;
    margin-top: 0px;

}

.search-box,
#myInput {
    width: 95%;
    background-color: #f8f9fb;
    border: none;

}

.search-box::placeholder {
    color: #7c8089;
    opacity: 0.6;
    font: 14px;
    font-weight: 500;
}

.search {
    background-color: #f8f9fb;
    border: none;
    padding: 5px;
}

.asider {
    margin: 0 12px;
    text-align: center;
    color: black;
    height: 38.1rem;
    background-color: #f8f9fb;
}

.asider .asider-header {
    border-bottom: 3px solid #f2f4f8;
}

.asider h1 {
    padding-top: 40px;
}

.asider p {
    padding: 3.7rem;

}

.asider-header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    background-color: white;
}

.Risk {
    padding: 3px;
    font-weight: bolder;
}

.righ {
    margin: 0;
    padding-left: 33rem;
    width: fit-content;
    background-color: white;
}

.main-content,
#main-contents {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 5px;
    box-shadow: 0 1px 0 0 rgba(183, 194, 210, 0.5);
}

.content,
#contents {
    padding: 0.3rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.one,
#ones {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
    /* padding: 10px 10px 20px 10px; */
}

.left-num {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.85;
    letter-spacing: normal;
    text-align: left;
    color: #2f3749;
}

.left p {
    font-size: 12px;
    margin: 1px;
    color: #7C8089;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.right img {
    object-fit: contain;
}

.left-content {
    display: flex;

}

.right-content {
    display: flex;
}

.top-arrow {
    /* margin-top: 9px; */
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    /* transform: rotate(-90deg); */
    margin-right: 8px;
}

.down-arrow {
    margin-top: 9px;
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.On-time {
    background-color: #f2f4f8;
    width: fit-content;
    font-weight: bold;
    color: lightblue;


}

.Resch {
    background-color: #f2f4f8;
    width: fit-content;
    font-weight: bold;
}

.Resch {
    font-size: 13px;
    background-color: rgba(83, 203, 93, 0.1);
    color: #53cb5d;
    padding: 5.5px;
}

.Delayed {
    background-color: #f2f4f8;
    width: fit-content;
    font-weight: bold;
}

.Delayed p {
    font-size: 13px;
    color: #f62020;
    background-color: rgba(246, 32, 32, 0.1);
    padding: 5.5px;
}

.two {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    background-color: #f2f4f8;
    margin: 10px;

}

.orgin {
    font-size: 11px;
    color: #7C8089;

}

.sikkim {
    font-size: 1rem;
    background-color: #f2f4f8;
    font-weight: bold;
}

.scroll,
#scroll {
    height: 27.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
    margin-left: 15px;

}



.item {
    background-color: red;
}

.third {
    display: flex;
    justify-content: space-between;
    padding: 19px 25px 19px 25px;
    font-size: 16px;
}

.third-dup {
    display: none;
}

.mini-style {
    color: #7C8089;
    font-size: 12px;
}

.mini-style2 {
    font-size: 14px;
    color: #2f3749;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
}

.waiting {
    display: flex;
    color: red;
    font-size: 13px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.four {
    display: flex;
    justify-content: space-around;
}

.login1 {
    display: none;
}

.two-sep {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    background-color: #f2f4f8;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.first a:hover {
    color: #006E74;
}

.first li {
    border-bottom: 1.6px solid white;
}

.first a:focus {
    border-bottom: 2.5px solid #36c8ea;
}

.first a {
    border-bottom: 2.5px solid white;
}


a {
    text-decoration: none;
}

.OnTime p {
    font-size: 13px;
    background-color: #e7f4ff;
    color: #017cee;
    padding: 5.5px;

}

.third-nav a:hover {
    color: black;


}

.third-nav a:focus {
    background-color: #36c8ea;
    outline: none;
    color: white;
}

::-webkit-scrollbar {
    width: 0.15rem;
}

::-webkit-stat-scroll {
    width: rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.arrow2 {
    display: none;
}

.btn {
    display: none;
}

.Next p {
    display: none;
}

.Prev p {
    display: none;
}

.right-arrow {
    display: none;
}

.m_view {
    display: none;
}

.stat-container_mo {
    display: none;
}

@media (min-width:200px) and (max-width:600px) {
    .third-nav-dup {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }

    .third-nav-dup::-webkit-scrollbar {
        display: none;
    }

    i {
        font-style: normal;
        background-color: white;
    }

    .stat-container_mo {
        display: grid;
        margin-right: 0.5rem;
        animation: both;
    }

    .hamburger {
        z-index: 100;
        display: flex;
        background-color: white;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .hamburger .menuIcon,
    .closeIcon {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #2f3749;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .menuItem {
        display: block;
        margin: 2rem 4rem;
        font-size: 2rem;
        border: none;
        outline: none;
        color: black;
        text-decoration: none;
    }

    .closeIcon {
        display: none;

    }

    .m_view {
        display: flex;
        object-fit: contain;
    }

    .menu {
        position: fixed;
        transform: translateY(-200%);
        transition: transform 0.7s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: white;
        color: white;
        list-style: none;
        padding-top: 4rem;
    }

    .menu a li {
        display: flex;
        padding: 25px;
        padding-left: 13px;
        color: #2f3749;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 3px solid #f2f4f8;
    }

    .menu li:hover {
        border-left: 4px solid #36c8ea;

    }

    .menu li {
        border-left: 4px solid white;
    }

    .menu a li img {
        padding-right: 10px;
        width: 18px;
        height: 18px;
        flex-grow: 0;
        object-fit: contain;
    }

    .showMenu {
        transform: translateY(0);
    }

    .menu .active li {

        color: #36c8ea;
        border-left: 4px solid #36c8ea;

    }

    nav {
        background-color: white;

    }

    html {
        scroll-behavior: smooth;
    }

    #arr--next {
        border: none;
        color: white;
        background-color: #36c8ea;
        border-radius: 10px;
        padding: 3px 7px 3px 7px;
        font-weight: 600;

    }

    label {
        font-size: 1.2rem;
    }

    .profile {
        display: flex;
        flex-wrap: wrap;
        width: 11rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }

    .alert-1 {
        z-index: 100;
    }

    .UST-logo {
        z-index: 100;
    }

    .login {
        display: none;
    }

    .fade-right {
        /* animation: fade-right ./3s ease; */
    }

    .container-item1 {

        /* animation: fade-right 300ms ease; */
    }

    @keyframes fade-right {
        0% {
            transform: translateX(100px);
        }

        100% {
            transform: translate(0px);
        }
    }

    .login1 {
        display: flex;
        z-index: 100;
    }

    body {
        background-color: #f2f4f8;
        font-family: "Roboto", sans-serif;
        height: 100%;

    }

    header {
        font-size: 0.875rem;
        height: 4rem;
        background-color: white;
        box-shadow: none;
        padding: 0px;
        justify-content: space-between;
        margin: 0px;
    }


    .first {
        display: none;
    }

    .stat-container {
        display: none;

    }

    .Next p,
    .Prev p {
        border: none;
        background-color: #36c8ea;
        padding: 2px 6px;
        font-size: 15px;
        display: flex;
        color: white;
        border-radius: 50%;
        position: absolute;
        margin: 10px auto;
        cursor: pointer;
        transform: translateY(70%);
        /* transition: 800ms; */
    }

    .Next p {
        right: 0%;
        color: white;

    }

    .Prev p {
        left: 0%;
        color: white;
    }

    .stat-scroll {
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 0px;
        margin-top: 10px;
        margin-left: 7px;
        margin-right: 0px;
        margin-bottom: 10px;

    }

    .container-item {
        display: none;
    }

    .third-container {
        padding: 0px;
        margin: 0px;
        min-height: 9.5rem;
        width: 96%;
        box-shadow: none;
        margin-left: 7px;
        margin-right: 7px;
    }

    .Inbound li {
        flex-wrap: wrap;
        display: flex;
        /* padding: 4.6px; */
        padding: 10px 5px;


    }

    .view-right {
        display: none;
    }

    .second-nav {
        margin-left: 7px;
        margin-right: 7px;
    }

    .mobile-view-right {
        display: flex;
    }

    .mobile-view-right a {
        color: #36c8ea;
    }

    .third-nav-scroll,
    #third-nav-dup1 {
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 10px;
    }

    .third-nav-dup .active {
        background-color: #36c8ea;
        color: white;

    }

    .le {
        position: absolute;
        left: 10px;
        transform: translateY(-8.2%);
        cursor: pointer;
    }

    .rig {
        position: absolute;
        right: 10px;
        transform: translateY(-9%);
        cursor: pointer;
    }

    .third-nav-dup ul {
        display: flex;
        gap: 5px;
        margin-left: 0px;
    }

    .third-nav-dup :focus li {
        background-color: #36c8ea;
        outline: none;
        color: white;
    }

    .third-nav-dup li {
        font-family: "Roboto", sans-serif;
        background-color: #f2f4f8;
        font-size: 15px;
        padding: 12px 15px;
        display: flex;
        align-items: center;
        margin: 0px;
        color: #7c8089;
    }

    .third-num {
        font-weight: bold;
        color: #2f3749;
    }

    .red {
        color: red;
        font-weight: bold;
    }

    .third-nav {
        display: none;
    }

    .form {
        display: flex;
        width: 95.5%;
    }

    .third {
        display: none;
    }

    .third-dup {
        display: flex;
        justify-content: space-between;
        padding: 15px 65px 15px 25px;
    }

    .third-nav-scroll::-webkit-scrollbar {
        height: 0.2rem;
        display: none;
    }

    .main-content,
    #main-contents {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        margin-top: 0px;
        padding-top: 0px;

    }

    .content,
    #contents {
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        justify-content: space-between;
    }

    .asider {
        font-size: small;
        color: black;
        margin-top: 10px;
        height: 0px;
        padding-left: 0;
        background-color: #f8f9fb;
        margin-left: 7px;
        margin-right: 7px;
    }

    .asider h1 {
        padding-top: 20px;

    }

    .asider p {
        padding: 3rem;
        flex-wrap: wrap;
    }

    .asider-header {
        padding: 5px;
        background-color: white;
    }

    .Risk {
        font-weight: bolder;
    }

    .body-container {

        display: flex;

        flex-direction: column;
    }

    .body-left {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .body-top {
        display: flex;
        padding: 0px;
        padding-bottom: 10px;
        margin: 0px;
    }

    .scroll,
    #scroll {
        height: 27.3rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        overflow-y: scroll;
        margin-left: 7px;
        margin-right: 7px;

    }

}

@media (min-width:700px) and (max-width:1200px) {


    i {
        font-style: normal;
    }

    .ope li:not(.NonOpaque) {
        opacity: 1;
        fill-opacity: 100%;
        fill: white;
    }

    .redbg li {
        color: black;

    }

    .hamburger {
        z-index: 100;
        display: flex;
        background-color: white;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .ope:not(.NonOpaque) {
        opacity: 0.1;
        color: white;

    }

    .hamburger .menuIcon,
    .closeIcon {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #2f3749;
        display: flex;
        align-items: center;
        justify-content: flex-start;


    }

    .menuItem {
        display: block;
        margin: 0;
        font-size: 2rem;
        border: none;
        outline: none;
        color: black;
        text-decoration: none;
    }

    .closeIcon {
        display: none;

    }

    .m_view {
        display: flex;
        object-fit: contain;
    }

    .menu {
        position: absolute;
        transform: translateY(-140%);
        transition: transform 0.7s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        list-style: none;
        top: 60px;
        opacity: 0.7;
        transition: 500ms;
        background-color: black;
        display: flex;
        height:135%;
    }

    .screen-1 {
        display: flex;
        position:absolute;
        z-index: 100;
        background-color: white;
        border-top: 0.1rem solid #f2f4f8;
        border-bottom: 0.1rem solid #f2f4f8;
        height: 5rem;
        opacity: 1;
        width: 100%;

    }

    .screen-2 {
        background-color: black;
        /* opacity: 0.4; */
        /* height: 100rem; */
    }

    header {
        font-size: 0.875rem;
        height: 4rem;
    }

    .menu a li {
        display: flex;
        color: #2f3749;
        font-size: 17.7px;
        transition: 500ms;
        color: black;
        z-index: 100;
        color: black;
        opacity: 1;
        font-weight: bolder;
        background-color: white;
        font-weight: 500;
        border-bottom: 3px solid #f2f4f8;
    }

    .menu li {
        padding: 25px;
        padding-left: 13px;
        /* color: ; */
        opacity: 1;
        z-index: 100;
       }

    .menu li:hover {
        border-left: 3px solid #36c8ea;

    }

    .menu li {
        border-left: 3px solid white;
    }

    .menu a li img {
        padding-right: 10px;
        width: 18px;
        height: 18px;
        flex-grow: 0;
        object-fit: contain;
    }

    .showMenu {
        transform: translateY(0);
    }


    .menu .active li{

        color: #36c8ea;
        border-left: 4px solid #36c8ea;

    }

    .alert-1 {
        z-index: 100;
    }

    .login {
        z-index: 100;
    }

    .UST-logo {
        z-index: 100;
    }

    .profile {
        display: flex;
        width: 13rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .login {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }



    body {
        background-color: #f2f4f8;
        font-family: "Roboto", sans-serif;
        height: 100%;
        width: 100%;
    }

    .first {
        display: none;

    }

    .first a:focus {
        background-color: none;
    }

    nav {
        background-color: #f2f4f8;
    }

    .first {
        display: none;
    }

    .stat-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding: 0px;
        margin: 0px;
        gap: 15px;

    }

    .stat-scroll {
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;

    }


    .container-item {
        display: flex;
    }

    .third-container {
        margin: 0px;
    }

    .body-top {
        margin-left: 4px;
        margin-right: 10px;

    }

    .body-container {
        display: flex;
        flex-direction: column;
    }

    .body-left {
        width: auto;
        margin-left: 7px;

    }

    .scroll {
        margin: 0px;
        margin-left: 5px;
        margin-right: 10px;

    }

    .asider {
        margin: 0px;
        margin-right: 11px;
        margin-left: 12px;
    }

    .main-content {
        margin: 0px;
    }

    .body-bottom {
        width: 100%;
    }

    .body-right {

        margin-top: 0.8rem;


    }

}

@media (min-width:1537px) and (max-width:7500px) {
    .body {
        width: auto;
        height: auto;
    }

    .total {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .body-container {

        height: auto;
        display: flex;

    }

    .container-itemlast {
        width: auto;
        display: flex;
        flex-direction: row;
        /* width:90%; */
        justify-content: space-between;
        /* flex-wrap: wrap;/ */
    }

    .cogs {
        justify-content: space-between;
        width: fit-content;
    }

    .main-position {
        display: flex;
        /* flex-direction: column; */
        width: auto;
        height: auto;
    }

    .scroll {
        /* width:100%; */
        height: auto;
    }

    .body-bottom {}

    .asider {
        height: 100%;
        width: auto;
    }

    .body-right {
        width: auto;
        height: auto;
    }
}