* {
    margin: 0;
    padding: 0;
}

#moblie_style label,
#moblie {
    display: none;
}

.moblie-view {
    display: none;
}
.third-nav .active li
{
   background-color: #0097AB;
   color:white;
}
.first .active
{
    border-bottom: 2.5px solid #0097AB;
}
html {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    height: 100vh;
}

.body-container {
    width: 100%;
    height: 76%;
    display: flex;
    /* flex-direction: row; */
}

.body-left {
    width: 60%;
}

.body-right {
    flex-basis: 40%;
}

.body-top 
{
    height: 10.7rem;
    flex-basis: 60%;
    /* flex-wrap: wrap; */
}

.body-bottom {
 
    flex-basis: 70%;
    flex-wrap: wrap;
}

body 
{
    background-color: #f2f4f8;
    font-family: "Roboto", sans-serif;
    /* height: 100vh; */
    /* width:100%; */
}

a 
{
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    background-color: white;
    min-height: 4.2rem;
    box-shadow: 0 1px 0 0 rgba(183, 194, 210, 0.5);
    padding: 0px 10px;
    /* flex-wrap: wrap; */
}

.first ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    display: flex;

}
/* .first
{
    border-bottom: 2px solid #0097AB;
} */
.first li {
    border-left: 2px solid #f2f4f8;
    padding: 1.39rem 1.5rem;
    /* padding:23px 17px; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
    font-size: 14px;

}

.Action {
    border-right: 2px solid #f2f4f8;

}

nav a {
    text-decoration: none;
    color: black;
}



.UST-logo {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.profile {

    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    width: 13rem;
    color: #006e74;
    flex-wrap: wrap;
    font-stretch: normal;
    font-size: 15px;
}



.login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width:4.5rem;
}

.stat-container {
    /* display: flex;
    column-gap: 0.7rem;
    padding-top: 10px;
    width: 126%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap:15px;
}

.stat-scroll {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    /* margin:15px; */
    /* margin: 15px 15px; */
    /* margin-bottom: 10px; */
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px; 
    margin-right: 15px; */
    margin:10px 15px 10px 15px;
}

.stat-scroll::-webkit-scrollbar {
    height: 0.2rem;
    display: none;
}

.stat-scroll::-webkit-scrollbar-track-piece {
    background: #f2f4f8;

}

.stat-scroll::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #888;

}

.stat-scroll::-webkit-scrollbar-button {

    width: 2px;
}

.container-item {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(183, 194, 210, 0.3);
    justify-content: space-between;
    align-items: center;
    /* padding: 16px; */
    font-size: 0.875rem;
    width: 335px;
    font-weight: bold;
    color: #666;
}

.container-item p {
    color: #666;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
}

.i {
    display: flex;

    object-fit: contain;
}

.i img {
    padding-left: 0.3rem;
    object-fit: contain;
}

.container-item p img {
    object-fit: contain;
}

.container-item img {
    padding-left: 3px;

}

.container-itemlast {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    /* width:19%; */
    width: 22rem;
    font-size: 0.9rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px; */
    box-shadow: 0 2px 5px 0 rgba(183, 194, 210, 0.3);
}

.container-itemlast p {
    color: #666;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
}

.container-last1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.number-detail {
    font-weight: bold;
    color: #2f3749;
    font-size: 30px;
    font-weight: 600;
}

.circle-1 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;

}

.circle-2 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;

}

.circle-3 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
}

.circle-4 {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;

}

.cogs {
    color: #666;
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-position {
    display: flex;
    color: #666;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    margin-top: 2.5px;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}


.third-container {
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-evenly;
    /* margin:0px 15px; */
    flex-wrap: wrap;
    /* height:10rem; */
    /* width:60.5rem; */
    margin-left:15px;
    box-shadow: 0 2px 5px 0 rgba(183, 194, 210, 0.3);
}

.second-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.second-nav {
    border-bottom: 2.5px solid #f2f4f8;
}

.Inbound a:focus {
    border-bottom: 2.5px solid #0097AB;
    color: #0097AB;
    /* border-width:2px; */
}
.Inbound .active{
    border-bottom: 2.8px solid #0097AB;
}
.Inbound a {
    border-bottom: 2.8px solid white;
}

.Inbound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    
    /* margin-top: 4px; */
}
.Inbound a
{
    margin-right: 10px;
}
.second-nav li {

    padding:11px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
}

.arrow {
    object-fit: contain;
}

.view-right {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 0.825rem;
    align-items: center;
    justify-content: center;
    padding-right:14px;

}

.view-right a {
    color: #006e74;
    font-weight: bold;
}

.third-nav li {

    display: flex;  
    padding: 12px 16px;
}

.third-nav a {
    font-family: "Roboto", sans-serif;
    background-color: #f2f4f8;
    font-size: 14px;
    flex-wrap: wrap;
    color: #7c8089;
}
.third-num
{
    font-weight: bold;
    color: #2f3749;
}
.red
{
    color: red;
    font-weight: bold;
}
.third-nav ul 
{
    background-color: white;
    display: flex;
    color: #2F3749;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    margin-left: 10px;
}

/* third-nav scroll part */

.third-nav-dup
{
    display: none;
}

.num 
{
    font-weight: bold;
    background-color: #f2f4f8;
    padding-left: 5px;
}

.form 
{
    display: flex;
    margin-left: 10px;
    margin-top: 0px;

}

.search-box 
{
    width: 95%;
    background-color: #f8f9fb;
    border: none;

}

.search-box::placeholder 
{
    color: #7c8089;
    opacity: 0.6;
    font: 14px;
    font-weight: 500;
}

.search 
{
    background-color: #f8f9fb;
    border: none;
    padding: 5px;
}

.asider 
{
    margin: 0 12px;
    text-align: center;
    color: black;
    height: 38.1rem;
    background-color: #f8f9fb;
}

.asider .asider-header 
{
    border-bottom: 3px solid #f2f4f8;
}

.asider h1 {
    padding-top: 40px;
}

.asider p {
    padding: 3.7rem;

}

.asider-header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    background-color: white;
}

.Risk {
    padding: 3px;
    font-weight: bolder;
}

.righ {
    margin: 0;
    padding-left: 33rem;
    width: fit-content;
    background-color: white;
}

.main-content {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 5px;
    box-shadow: 0 1px 0 0 rgba(183, 194, 210, 0.5);
}

.content {
    padding: 0.3rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.one {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
    /* padding: 10px 10px 20px 10px; */
}

.left-num {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.85;
    letter-spacing: normal;
    text-align: left;
    color: #2f3749;
}

.left p {
    font-size: 12px;
    margin: 1px;
    color: #7C8089;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.right img {
    object-fit: contain;
}

.left-content {
    display: flex;

}

.right-content {
    display: flex;
}

.top-arrow {
    /* margin-top: 9px; */
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    /* transform: rotate(-90deg); */
    margin-right: 8px;
}

.down-arrow {
    margin-top: 9px;
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.On-time {
    background-color: #f2f4f8;
    width: fit-content;
    font-weight: bold;
    color: lightblue;


}

.Resch {
    background-color: #f2f4f8;
    width: fit-content;
    font-weight: bold;
}

.Resch {
    font-size: 13px;
    background-color: rgba(83, 203, 93, 0.1);
    color: #53cb5d;
    padding: 5.5px;
}

.Delayed {
    background-color: #f2f4f8;
    width: fit-content;
    font-weight: bold;
}

.Delayed p {
    font-size: 13px;
    color: #f62020;
    background-color: rgba(246, 32, 32, 0.1);
    padding: 5.5px;
}

.two {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    background-color: #f2f4f8;
    margin: 10px;

}

.orgin {
    font-size: 11px;
    color: #7C8089;

}

.sikkim {
    font-size: 1rem;
    background-color: #f2f4f8;
    font-weight: bold;
}

.scroll {
    height:26.2rem;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-left: 10px;

}

.scroll-down {

    width: 100%;

}

.item {
    background-color: red;
}

.third {
    display: flex;
    justify-content: space-between;
    /* padding: 35px; */
    padding: 19px 25px 19px 25px;

    font-size: 16px;
}

.mini-style {
    color: #7C8089;
    font-size: 12px;
}

.mini-style2 {
    font-size: 14px;
    color: #2f3749;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
}

.waiting {
    display: flex;
    color: red;
    font-size: 13px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.four {
    display: flex;
    justify-content: space-around;
}

.two-sep {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    background-color: #f2f4f8;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.first a:hover {
    color: #006E74;
}

.first li {
    border-bottom: 1.6px solid white;
}

.first a:focus {
    border-bottom: 2.5px solid #0097AB;
}

.first a {
    border-bottom: 2.5px solid white;
}


a {
    text-decoration: none;
}

.OnTime p {
    font-size: 13px;
    background-color: #f2f4f8;
    color: blue;
    padding: 5.5px;

}

.third-nav a:hover {
    color: black;


}

.third-nav a:focus {
    background-color: #0097AB;
    outline: none;
    color: white;




}

::-webkit-scrollbar {
    width: 0.15rem;
}

::-webkit-stat-scroll {
    width: rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}




@media (max-width:600px) {

    nav {
        background-color: white;
    }

    #moblie_style label,
    #moblie {
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        padding-top: 20px;
        padding-right: 15px;
    }

    .moblie-view {
        display: none;
    }

    .moblie-view a {
        margin: 10px;
        flex-direction: column;
        display: flex;
        padding: 10px;
    }

    #moblie_style input:checked~.moblie-view {
        display: block;
    }

    .profile {
        display: flex;
        flex-wrap: wrap;
        width: 8rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .login 
    {
        display: flex;
        flex-direction: row;
    }

    .stat-scroll 
    {
        display: flex;
        flex-direction: row;
    }

    #moblie_style
    {
        background-color: white;
        width: auto;
    }

    .moblie-view 
    {
        background-color: white;
    }

    .moblie-view ul 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .moblie-view li
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #moblie
    {
        display: none;
    }

    body 
    {
        background-color: #f2f4f8;
        font-family: "Roboto", sans-serif;
        height: 100%;
        
    }

    header {
        font-size: 0.875rem;
        height: 4rem;
        background-color: white;
        box-shadow: none;
    }

    .moblie-view li {
        border-bottom: 2px solid black;
        border-radius: 10px;

    }

    .first {
        display: none;

    }

    .first li:hover {
        background-color: #0097AB;
    }

    .stat-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        gap:15px;
        
    }
    
    .stat-scroll {
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        margin:10px;
    
    }
    .container-item {
        background-color: white;
        display: flex;
        flex-direction: row;
        margin: 0;
        /* width:50%; */
        padding: 16px;
    }

    .container-itemlast {
        background-color: white;
        display: flex;
    }

    .third-container {
        background-color: white;
        flex-wrap: wrap;
        margin: 0px;
        /* height:150rem;/ */
        width: 95%;
        /* margin-left:10px; */
        /* margin-right: 10px; */
        /* margin-bottom: 100px; */

    }

    .Inbound li {
        flex-wrap: wrap;
        display: flex;
        padding:6px;
    }

    .third-nav-scroll {
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 10px;
        /* margin-bottom: 2rem; */
    }
    .third-nav-dup .active li
    {
        background-color: #0097AB;
        color: white;
    }
    .third-nav-dup {
        width: 50rem;
        display: flex;
        margin-bottom: 0px;
        flex-direction: row;
    }

    .third-nav-dup ul {
        display: flex;

    }
    .third-nav-dup a:focus{
        background-color: #0097AB;
        outline: none;
        color: white;
    }
    
    .third-nav-dup li {

        display: flex;  
        padding: 12px 16px;
       
    }
    
    .third-nav-dup a {
        font-family: "Roboto", sans-serif;
        background-color: #f2f4f8;
        font-size: 14px;
        flex-wrap: wrap;
        margin-right: 10px;
        color: #7c8089;
    }
    .third-num
    {
        font-weight: bold;
        color: #2f3749;
    }
    .red
    {
        color: red;
        font-weight: bold;
    }
    .third-nav{
        display:none;
    }
    .form {
        display: flex;
        width: 96%;
    }

    .third-nav-scroll::-webkit-scrollbar {
        height: 0.2rem;
        display: none;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        /* margin-top:5px; */

    }

    .content {
        /* width: 95%; */
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        justify-content: space-between;

    }

    .asider {
        font-size: small;
        /* margin-top: 310px; */
        color: black;
        width: 94.5%;
        height: 0px;
        padding-left: 0;
        /* margin-top: 10px; */
        background-color: #f8f9fb;
        margin-left:10px;
        margin-right: 10px;
    }

    .asider h1 {
        padding-top: 20px;

    }

    .asider p {
        padding: 3rem;
        flex-wrap: wrap;
    }

    .asider-header {
        padding: 5px;
        background-color: white;
    }

    .Risk {
        font-weight: bolder;
    }

    .body-container {
        width: auto;
        display: flex;
        /* padding:20px; */
        flex-direction: column;
    }

    .body-left {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .body-top{
        /* margin-bottom:1rem; */
        margin-left:10px;
        margin-right: 10px;
        /* height:138px; */
        position: relative;
        width:100%;
    }
    .body-right {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-top: 0.9rem;
        width: 100%;

    }

    .scroll {
        width: 95%;
        flex-wrap: wrap;
        overflow-y: scroll;
        margin: 0px;
        margin-top: 10px;
        /* margin-bottom: 20px; */
        /* height: 22rem; */
        margin-left:10px;
        margin-right: 10px;
        position:relative;
    }




}

@media (min-width:700px) and (max-width:1200px) {

    body {
        background-color: #f2f4f8;
        font-family: "Roboto", sans-serif;

    }

    nav {
        background-color: white;
    }

    #moblie_style label,
    #moblie {
        display: flex;
        padding-top: 20px;
        padding-right: 15px;

    }

    .moblie-view {
        display: none;
    }

    .moblie-view a {
        margin: 10px;
        flex-direction: column;
        display: flex;
        padding: 10px;
    }

    #moblie_style input:checked~.moblie-view {
        display: block;
    }

    .profile {
        display: flex;
        flex-wrap: wrap;
        width: 10rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .login {
        display: flex;
        flex-direction: row;
    }

    .stat-scroll {
        display: flex;
        flex-direction: row;
       
    }

    #moblie_style {
        background-color: white;
        width: 100%;
    }

    .moblie-view {
        background-color: white;
    }

    .moblie-view ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .moblie-view li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #moblie {
        display: none;

    }

    body {
        background-color: #f2f4f8;
        font-family: "Roboto", sans-serif;
        height: 100%;
        width:100%;
    }

    header {
        font-size: 0.875rem;
        /* width:10; */
        height: 4rem;
        background-color: white;
        box-shadow: none;
        width:auto;
    }

    .moblie-view li {
        border-bottom: 2px solid black;
        border-radius: 1px;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        /* background-color:; */

    }

    .first {
        display: none;

    }

    .first li:focus {
        background-color: #0097AB;
    }

    nav {
        background-color: #f2f4f8;
    }

    .first {
        display: none;
    }



    .stat-container {
        /* display: flex;
        column-gap: 0.7rem;
        padding-top: 10px;
        width: 126%; */
        display: grid;
        grid-template-columns: 1fr 1fr ;
        width:100%;
        gap:19px;
        
    }
    
    .stat-scroll {
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        /* display: none; */
        /* grid-template-columns: 1fr 1fr ; */
        /* margin:15px; */
        /* width:100%; */
        /* margin: 15px 15px; */
        /* margin-bottom: 10px; */
    
    }

    .container-item {
        display: flex;
        flex-direction: row;
        width:94%;
        gap:15px;
        /* padding: 10px; */

    }

    .container-itemlast {
        display: flex;
        /* width:100%; */
        display: none;
    }

    .third-container {
        margin: 0px;
        padding-left: 7px;
     

    }

    .body-container {
        display: flex;
        flex-direction: column;
    }

    .body-left {
        width: 100%;
        margin-left: 7px;
        /* margin-right: 5px; */
    }

    .scroll {

        width:98.8%;
        margin: 0px;
        position: relative;
     
    }

    .asider {

        margin: 0px;
        
    }

    .main-content {
        margin: 0px;
    }

    .body-right {
        position: relative;
        margin-top: 1.2rem;
        width: 98.5%;
        margin-left: 7px;
    }

}